* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#logonname {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#seanmenu {
    display: flex;
    justify-content: flex-end;
}